#content {
    background:transparent;
   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#aaffffff,endColorstr=#aaffffff);
   zoom: 1;
}

#footer {
    background:transparent;
   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#E6E6E680,endColorstr=#E6E6E680);
   zoom: 1;
}