* { margin: 0; padding: 0; }
::selection, ::-moz-selection { background: rgb(135,91,91); color: #fff; text-shadow: none; }

body {
	padding:0;margin:0;
	height:100%;
        width:100%;
        background: #99bddd;
        font-family: Verdana, Arial, sans-serif;
}

#raster{
	position:absolute;
	z-index: 5;			
	background: url('/img/raster.png');
        height: 100%;
        width: 100%;
}

#content {
    width: 297px;
    background-color: rgba(255,255,255,.85);
    box-shadow: 0px 0px 18px #333;
    display: none;
    margin: 0 0 40px 35px;
    padding-top: 10px;
}

#header {
    margin-bottom: 16px;
    margin-left: 20px;
    background: url('/img/name.png') no-repeat;
    width: 215px;
    height: 61px;
}

#header span { display: none; }

#nav {
    
    width: 285px;
    margin-left: 25px;
}

#nav ul {
    list-style: none;
    width: 90%;
}

#nav>ul>li {
    padding-top: 3px;
    font-size: 18px;
    font-weight: bold;
    clear: both; 
    margin-bottom: 16px;
}

#nav ul li>ul {
    margin-left: 15px;
}

#nav>ul>li>ul>li {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: normal;
    text-shadow: none;
}

#nav>ul>li span {
    display: block;
    font-size: 10px;
    color: #666;
    padding-top: 1px;
    margin-left: 3px;
    text-shadow: 0px 1px 1px #fcfcfc;
}

#nav>ul>li span sup { font-size: 7px }

#nav, #nav a {
    color: #222f40;
    text-decoration: none;
}

#nav a {
    border-bottom: 1px dotted #222f40;
    text-decoration: none;
}

#nav a:hover {
    border-bottom: 1px solid #222f40;
}

.name {
    color:#754242;
    font-family: Futura;
    font-size: 42px;
    -webkit-mask-image: url(/img/nameshine.png);
}

.name span { color: #593434; font-weight: bold; }

.nojs #content, .nojs #bgimg, .nojs #realBody, .nojs #footer {display:block;}
.nojs #bgimg { bottom: 0; right: 0;}

#nav .socialnetwork {

}
    #nav .socialnetwork li {
        width: 16px;
        height: 16px;
        float: left;
        margin-right: 9px;
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%); /* For Webkit browsers */
        filter: gray; /* For IE 6 - 9 */
        -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
        transition-duration: .5s;
    }

    #nav .socialnetwork li:hover {
        filter: grayscale(0%);
        -webkit-filter: grayscale(0%); /* For Webkit browsers */
        filter: none; /* For IE 6 - 9 */
        filter: none;
    }
#nav .socialnetwork li a {display:block; width: 100%; height: 16px; border: none; box-shadow: 0px 1px 1px #aaa}
.twitter { background-image: url('data:image/jpeg;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAB0ElEQVQ4jZ2TPU9TYRiGr/P29OMcUkorloFQQyPBwf6BqolNdBATVwmyOLjphIsTIUZ/gotuxsRRVOYyNGEVG8XJrwYxgBbs9znvh0OVckKJps/4vvd95bnv5LEBWHpZZJBZvFawWVwunrl+9eIg/g96uWijDb6E9k6dkOOAEAGR7nSQu7voVgsrbBNOj6EaddxMGrShC/A0l4cNpco3mslRrEj0ADDt17ifHyWfdqk0fO6sbTFzOsGDuu4BpGc4ezLKwuQYt9e2eO9HEO4QwnG4Ox0nn3YBmBgK8+JShkrbsLQuewDla8oNw0LWYXVmkucf91j5WqO0+Z3EVOZI9psbPso3PYDWhs/VJuWfFrlUjNnsCLPZkb7Flfc93tb0n4L+bqAM5yaGyaXC/2y+0urqAwCtDY+++IzT4UbGJRERxwJWfnT1RwAA+1aEuA1Kqb7mmrJ4ta2PBzx89wvVtLmSDpFLRgNmIQRz6x5VT/ceD3eAklxwPFTbZzwWR0qJEAIhBDVtcW/DZ3VHBlc62ADNKddmbirF+WSIE7Huf6mqeb0tebYp2fNN0CwOAyz41FDcetM/e98JWYciAISt/zcHIjyeL2j9dKBzNk/mC78B/j/0OTrCtAMAAAAASUVORK5CYII=') }
.facebook { background-image: url('data:image/jpeg;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAh1BMVEUeN2sKJFwAAAAVLWANKF8HIVoRK2EDHlcbNGkRKV0ULmQAFVAAG1UXMWYTK18AGFIPKFz////i6PZLZJpSbaVifLFXcKJlf7NOaaJed65he7BsgrNhe61xjrxWcKhphbdheq1DXppGYp1KZqBadKvQ2OtddqlqgLFwhrJYcqRifLBzibl6lsIj/63ZAAAAEnRSTlO/vwC/v7+/v7+/v7+/v7+/vwC5A1uHAAAAf0lEQVR4XlXHRRLDMAAEwTUyJCszhvn/74ss6aI+TNXAhcVF/LPEKJZO+7zbtlsKpNuove7kuKUIm0GTz6EJ4d8M8ivrw1kVIUgh1tVBUCtU6jpA1CtU+j5CfjXIvTmqi0HurZCdDXJvBm96aqTM5KGcHxopM5dITpYE7sFy/AOIbhiofKJfRAAAAABJRU5ErkJggg==') }
.github { background-image: url('data:image/jpeg;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAh1BMVEUeN2sKJFwAAAAVLWANKF8HIVoRK2EDHlcbNGkRKV0ULmQAFVAAG1UXMWYTK18AGFIPKFz////i6PZLZJpSbaVifLFXcKJlf7NOaaJed65he7BsgrNhe61xjrxWcKhphbdheq1DXppGYp1KZqBadKvQ2OtddqlqgLFwhrJYcqRifLBzibl6lsIj/63ZAAAAEnRSTlO/vwC/v7+/v7+/v7+/v7+/vwC5A1uHAAAAf0lEQVR4XlXHRRLDMAAEwTUyJCszhvn/74ss6aI+TNXAhcVF/LPEKJZO+7zbtlsKpNuove7kuKUIm0GTz6EJ4d8M8ivrw1kVIUgh1tVBUCtU6jpA1CtU+j5CfjXIvTmqi0HurZCdDXJvBm96aqTM5KGcHxopM5dITpYE7sFy/AOIbhiofKJfRAAAAABJRU5ErkJggg==') }
.googleplus { background-image: url('data:image/jpeg;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAACRElEQVR42p2SXUiTURjH34iIbrrvA0lJQhgmayXT1latT9siulKKrrroprwyJMJMItRklGxrCuUoipJmiBgh4yU1NVr0sZzDTd0k3VzvPhqb25jbv3MO7qWx4UUP/M7z8D/8/xye9+Vo9W7j+P+BmU1bOd7XeAWz54/ju6S0AIdSht83r8Jfr6ZQTZyplzNu4XjPkx4kfUuglUgkEAwGGZFIBOnoHyzfbYLrTDVDEATWf11Ugnq54V4jHwsKWLjWAOdJGVaMXVgNBRHweuDQP4S7oY7qIiSY9XmNHPrNJMBqtfLCkAUOtVTEb3iAcDiMUCiE+TtNeFe2Q4RorFv37kT3pvUAV/MN/DxWlYfgnmUhyy+e4p9iWq6olwXM6DrwQ1WZx9LYB7aDlVfmPJ1o4qzj1l8QcM7Adk6Fb0ckDLtGgUXrCFvowq3rVBOJRqPi3JULiMVicD3rw5jqIGzaoxitUzOzMDyAL7UVeZAS504aYKjYxafIJ8xkMog4p+E0PELE50Ng6A0+y/dtSDsNuE+OT9XlsF/WYtHcg3g8zpg8VQuibwj1cvdogHI/bGdrMKcn/8DqKsP9vA8fT8gxVVOBCVlZUaiXayPHyKFKTDc3YnngNdLpNFKpFN0BCTFj/LQC49I9BUweKAX1ci/bWvhsNgv/YD+8j3WY62yFwL/H2toakskkPINvMaGQYLSqJI9JEtJKA/pNRt5+SYMpaUke3u4O5Oqr9jDVCmihARaLpfw2GYphqr/Ak3u+fff2ovcAuL8CX3gi4j02YwAAAABJRU5ErkJggg==') }
.linkedin { background-image: url('data:image/jpeg;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABUUlEQVQ4jWNiAALBqOr95GCQXibusIr9sbFhDuRgkF6mX3//MXz98ZvhxatPDLvP3wdjEJsQBukB6WX6/ecvw5cfvxh+Aum1SQ4MaxLtwWxCGKQHpJeJAWjKt++/GH4BOewszAzyQjxgNiEM0gPSy8QA5Hz9/hto6j8GqwnbGJSb14HZ5x6/AeMn77/C2bdff2T49usvWB6khwHmApipL5rDwBiZHWuqCGdPCjJj+PDtB1w93AU//0IwDCCzS5104GxPTWmGVh9DhHqICxD+ggFk9pIz9xhsJu1g2HfrBZjvrSWD5AKQAUD/wEIW7gIk9qRD1xnefv3B0LrnEoo8WM2ff4RdANIM4j94+xlFnmgXIMc9Thf8/v8fpwuQ4x5ZDKQH4YL/EFP5y5eAMTobhlHEgHoQYfCfkeE3KxtJGKQH4oLrKx2/r1p9gBz8/9oKRwBGsvU9i+/WcwAAAABJRU5ErkJggg==') }
.reddit { background-image: url('data:image/jpeg;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAACCklEQVR42p2S/UtTURjHT3/CiCB6Wb+pTGtFgUbZFRKhH4r90C8RrUhogmyisNbSyaAXKNoMy8xqEZEuzZuvZDHqzFBkrgRhoEzRspKy6G1Lc93bt/sccHghBHfgA895nufzXM45l9EKBLt4Jgj5VnMnn0/9RSaQyxofdPIfCyo+fP+zKsghlzXc7+CfEwpmvqbSnCyzw2w2Y/deCbHpOZFr7Q6h0uXB4SPHxJ4ccln9vcf83bcUpr4sCoJao8PhgKIokGUZ0v4SGAwGFOzZh4rTHpjyzOgND4McclndXZlPzC1iiR4ehdVqTQ9wei5geb3mvA8nbHYRk8uuBGQ+/vE3lnP8lB2m3DwUHziEaPyTrvbiVRwbN28RMbns0u12HptdwGrIyd2G9lAE5LKLTY/46Pt5rETf0Bic3ss4WlqOXQWFyDZtFZDLzjW28ZGZXyD6Y7OwVZ7FTq3J62sSZGtf27DJiFLtZa7dvIMnz56nIZd5b7Tx6JskiKKSg/D7/QiHwzAajcjKMaGnL0QX+l/IZZ7rrXxoKgGCnosK9A9YLBaKV4RcVl3/kEemkxiYTGBHfiFcLhckSdI3v5ShFq+Batuuy5PLzlwNiiP0x38i0D2ItevWw+126xrVWgsNECjxkXSeXOasC/LXb5NYgi6w96n+3CSpVUVQGyp0eXIZrSpfC88EbQj7B0CiEDIaT6foAAAAAElFTkSuQmCC') }
.youtube { background-image: url('data:image/jpeg;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABT0lEQVQ4T52SMUuCURSGn67eQqLA1pZ+QkvaEmhg/6CQCuwPNLQGgUOB0NbSHFK7ISgO2ZzUIEFCSEtFi1CSft+n93obUvk+U0gvPMs957y8L+cIgGMoTgKASEJxey0UmYQkFIUCHKWoNZpj4SiFAoQGbK1pG9On3GjyrTuev0FsrdGAUICtNMqYPqtn5zzPzfNiOzidjqfWw1b614ECLO0VWAyH2crmWdo/4En4eW+1/ghY2iWgjBcpJVJKlhN7xHMFgptxyg2LT6W9vT2BwXx+v7/PbHCByOERu4UbgishT5/Lgdfe4PP5fARmppGDvaMcuAdxbB5PU+Q21vko3f3PgRACKSXVyzTZWJRK+mLoJkYK1B7uycSilFInWPX68OGegO7adRfyiR2+3l5HD3Zj9g8JA+2OGQvcawRDQEyNBXQjXEP0qlK9nYSMMdEfUrP2qwlUPboAAAAASUVORK5CYII=') }
.email {background-image: url('data:image/jpeg;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABK0lEQVR42p2Q3aqCQBRG5/0vBCEIgkAQhPIRvJgX8M5UCJJCLfBCFCLox/ZhDcwQ5+Z0FBbsvv2tDY3ii+NYz8HJ0zTJHHDNgff7Lbfb7V/guANpmsrr9fpapovjDozjKNvtlsVXMl0cd4DF+Xy2R/6U6fIbV202G329XmUYBqmqyhSez6eQfULGjg5dMlwVRZH5C9B1nZRlaYqPx4MMmMnY0XE5rgrDUPd9L5bT6SRFURjhfr8DMxk7Og5cFQSB5uonSZLIbrdDBGaT/e7hqvV6rS+Xi1jsC+d5LlmWATMZOzoOXLVarXRd1wJWZj4ej8jATOaO2D6uWi6X2sq8LmXLfr+Hz4yOO4KrFouFbprGPMrhcPgKuji4yvd93batzAFX8Xmep+cgIuoHyOFoRTLODh0AAAAASUVORK5CYII=')}
.stackoverflow{background-image: url('data:image/jpeg;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABgklEQVR42p2PzUoCURiGz420rH2b9tUdtOkKuo5+qI2hZGiCJYqSYLrrAk7gIitbBUbQgKQyqeQ4ox7/kLfeCYcZLQQPPJwz5/ue98wnuLLZrFwGR55MJlgGunbAeDyGUupPesUcOrdHc/d0nIDRaPRvQN+ow9pfhdIePfd0nIDBYOB9VS/BjG+ikz+1vwcP17DOtjw9dJyAuVf7fQyrRVhXGzCT2+jX39C53EH3PunpswMymYzsdrtwU3+VsFqf9m/2CkGY5ytQdydQRt3TR1ek02lpmiamND9KeInvonC8hiffun3WbvZglIuwLAvuXroilUrJVquFKYZh/I4wHEKZTXy956E/Z9But1n3QFckEgnZaDTgJntxYJMjkUPC+znoilgsJnVdB/H5fNw53yzuugNdEY1GZaVSAfH7/dxZmMVdd6ArIpGIHVAulxEMBrlz3lk8dUKHrgiFQrJarULTNITD4YWwj9ChK35SZa1WA1FKLYJ9DnQFVyAQkMsAQHwD4mBUDoK3wfYAAAAASUVORK5CYII=') }

#nav .socialnetwork a span { display: none; }

.twocolumn li {
    float: left;
    width: 38%;
    font-size: 13px;
    margin-bottom: 5px;
}


.footer {
    background-color:rgba(230,230,230,.8); 
    position: fixed; 
    bottom: 0; 
    right:0; 
    box-shadow: 0 0 10px #999; 
    padding: 10px 13px;
    color: #ccc;
    display: none;
    opacity: .4;
}

.clear { display: block; clear: both; }

abbr { border-bottom: 1px dashed #222f40; cursor: help; }